.galeryContainer{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes expandir {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1);
    }
}

.galeryTextContent{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: expandir 1.2s ease infinite;
}

.containerCarrosel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #4b3832;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.432);
}

.galeryImgContainer{
    width: 100%;
    max-width: 960px;
    padding: 10px;
    overflow-x: hidden;
}

.deslizeImg {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.imageWrapper {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin: 0 10px;
}

.buttonsOverlay{
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    gap: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageWrapper:hover .buttonsOverlay {
  opacity: 1;
}

.imgGalery{
    width: 300px;
    height: auto;
    flex: 0 0 auto;
    border-radius: 10px;
}

.overlayInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: rgba(217, 203, 179, 0.8);
    color: #4b3832;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.buttonInfo{
    margin-top: 10px;
    background-color: transparent;
    color: #d9cbb3;
    border: none;
    background: #4b3832;
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media (max-width: 425px){
    .galeryContainer {
        padding: 10px;
    }

    .galeryImgContainer {
        max-width: 100%; 
        padding: 0;
    }

    .imgGalery {
        width: 180px; 
    }

    .imageWrapper {
        margin: 0 5px; 
    }

    .buttonsOverlay {
        top: 5px;
        right: 5px;
        gap: 4px;
    }
}

@media (max-width: 768px){
    .galeryContainer {
        padding: 15px;
    }
    
    .galeryImgContainer {
        max-width: 720px;
        padding: 5px;
    }

    .imgGalery {
        width: 240px; 
    }
}

