.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #cccccc;
    transition: color 0.3s ease;
    padding: 4px;
    font-size: 18px;
}

.btn:hover{
    color: #4b3832;
}

.ativo{
    color: gold;
    filter: drop-shadow(0 0 3px gold);
}