.headerContainer{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #4b3832;
    margin-bottom: 50px;
    background-color: #d9cbb3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 425px){
    .headerContainer h1{
        font-size: 22px;
    }
}
